.App {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;
  font-size: 1rem;
}

.btn-open {
  background-color: #1d4ed8;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 30em;
}

.btn-submit {
  background-color: #42a942;
}

.btn-cancel {
  background-color: #d9534f;
}

.close {
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.modal-content {
  margin-bottom: 2rem;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
}
